@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    
   
}
.container{
    background-color: yellow;
    height: 100vh;
    width: 300px;
    
    border-top-left-radius: 3rem;
    border-bottom-left-radius:3rem ;

}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 42px; 
    margin-top: 10rem;
}
h1{
    
    margin-bottom: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-top: 50%;
    margin-bottom: 2rem;
}
.img{
    height: 500px;
    width: 500px;
}

img{
    width: 300px;
}

.left{
    width: 500px;
    margin-left: 10%;
}

section{
    display: flex;
    justify-content: space-between;
}

input{
    height: 30px;
    width: 220px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 2rem;
    border-radius: 0.3rem;
}

button{
    height: 30px;
    width: 220px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 2rem;
    
}

button:hover{
    background-color: lightgray;
    cursor: pointer;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-left: 0.4rem;
}